@model IEnumerable<Commande_UIL>

@{
    ViewBag.Title = "Gestion des commandes";
}
<div class="container" style="background-color:rgba(255,255,255,0.5);">
<h2>Gestion des commandes</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdCommande)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NbPlaceDemande)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCommande)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EtatCommande)
        </th>
        <th>
           <p>Solvabilité</p>
        </th>
        <th>
            <p>Validation commande</p>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCommande)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbPlaceDemande)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCommande)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EtatCommande)
            </td>
            <td>
                <button class="btn btn-info" id="btnSolva">X</button>
            </td>
            <td>
                <input class="form-check-input" type="checkbox" />
            </td>
        </tr>
    }

</table>
<input type="button" class="btn btn-info" value="Envoyer"/>
</div>