@model ProjetFinal_UIL.Models.HomeIndexList

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Style/style.css" rel="stylesheet" />


<div class="container" style="height:100px"></div>

<h2>Bienvenue sur le site BOVoyage</h2>
<div class="col-sm-6 ">
    <div class="container" style="background-color:rgba(0, 148, 255,0.5);">
        <h4 class="">Recherche par critères :</h4>
        <select class="form-control marginRight" >
            <option value="" disabled selected>Continent</option>
            @foreach (var item in Model.ListContinent)
            {
                <option>
                    @Html.DisplayFor(modelItem => item.Nom)
                </option>
            }
        </select>
        <select class="form-control marginRight">
            <option value="" disabled selected>Pays</option>
            @foreach (var item in Model.ListPays)
            {
                <option>
                    @Html.DisplayFor(modelItem => item.Nom)
                </option>
            }
        </select>
        <select class="form-control marginRight">
            <option value="" disabled selected>Region</option>
            @foreach (var item in Model.ListContinent)
            {
                <option>
                    @*@Html.DisplayFor(modelItem => item.Nom)*@
                </option>
            }
        </select>
        <div class="text-center" id="rcorners">
            <button class="btn btn-info marginRight">Rechercher</button>
        </div>
    </div>
</div>

<div class="col-sm-6 arrondi">
    <div class="slideshow-container">

        <div class="mySlides fade">
            <img src="~/Content/img/PhotoPub.jpg" style="width:100%" />
        </div>

        <div class="mySlides fade">
            <img src="~/Content/img/Photo2Pub.jpg" style="width:100%" />
        </div>

        <div class="mySlides fade">
            <img src="~/Content/img/Photo3Pub.jpg" style="width:100%" />
        </div>

    </div>
    <br>

    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>

</div>

@foreach (var item in Model.ListVoyage)
{

    <div class="col-sm-6  col-md-4 marginTop">
        <div class="taille thumbnail">
            <img style="width:100%" class="arrondi " src="@Html.DisplayFor(modelItem => item.photo)">
            <div class="caption">
                <h3> @Html.DisplayFor(modelItem => item.Titre)</h3><p> @Html.DisplayFor(modelItem => item.DescCourte)</p><button class="btn btn-primary" id="btnPrix" onclick="window.location.href='Voyage/VoyageDetaille'">@Html.DisplayFor(modelItem => item.Prix) €</button>
            </div>
        </div>
    </div>

}

<script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 4000);
    }
</script>

