@model IEnumerable<ProjetFinal_UIL.Models.Client_UIL>

@{
    ViewBag.Title = "Index";
}

<h2>Gestion Mailing</h2>


<div class="container" style="background-color:rgba(255,255,255,0.5);">
    <p>Recherche par critères :</p>
    <form asp-controller="Movies" asp-action="Index">
        <p>
            Nom: <input type="text" name="SearchString">

            Date: <input type="text" name="SearchStringDate">
            <input type="submit" value="Filtrer" />
        </p>
    </form>
</div>

<div class="container" style="background-color:rgba(255,255,255,0.5);">
    <table class="table" id="listTable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
            </tr>
        }

    </table>
</div>