@model IEnumerable<ProjetFinal_DAL.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Gestion Mailing</h2>

<div class="jumbotron">
    <p>Recherche par critères :</p>
    <form asp-controller="Movies" asp-action="Index">
        <p>
            Continent: <input type="text" name="SearchString">
            <input type="submit" value="Filtrer" />
        </p>
    </form>
</div>
<div class="jumbotron">
    <table class="table" id="listTable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
            </tr>
        }

    </table>
    </div>